.langs__lang {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: white;
  margin-right: 18px;
  opacity: 1;
}

.langs__lang:hover {
  opacity: 0.8;
}

.langs__lang:last-child {
  text-decoration: none;
  margin-right: 0;
}

@media screen and (max-width: 568px) {
  .langs__lang {
    font-size: 18px;
    line-height: 20px;
  }
}
