.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 984px) {
  .intro__list {
    max-width: 720px;
  }
}

@media screen and (max-width: 722px) {
  .intro__list {
    max-width: 288px;
    min-height: 90px;
  }
}
