.lead__subtitle {
  max-width: 520px;
  width: 100%;
  min-height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: white;
  margin: 16px 0 64px 0;
  text-align: center;
  /*padding: 0 60px;*/
  /*box-sizing: border-box;*/
  outline: solid pink;
  padding: 0 172px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}





@media screen and (max-width: 1124px) {
  .lead__subtitle  {

  padding: 0 144px;
  }
}


@media screen and (max-width: 984px) {
  .lead__subtitle  {

  padding: 0 64px;
  }
}




@media screen and (max-width: 740px) {
  .lead__subtitle  {

    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    padding: 0 16px;
    margin: 8px 0 40px 0;
    min-height: 40px;
  }
}


@media screen and (max-width: 568px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    /*max-width: 288px;*/
    padding: 0 16px;
    margin: 8px 0 40px;
    min-height: 40px;
  }
}
